.styles_faq-row__2Rd2Y h2{
    color :#f2620f;
    padding-bottom: 20px
}
.styles_faq-row-wrapper__3Hsch{
    padding: 30px
}

.styles_faq-row-wrapper__3Hsch .styles_faq-row__2Rd2Y {
    padding: 0 !important;
}

.styles_row-title__2yqnt{
    font-size: 16px !important;
    font-weight: bold !important;
    color: #a45ae8 !important;
}
.styles_icon-wrapper__wjX56 {
    display: none;
}