.back-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 600px;
}
.card-total{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(151, 148, 148);
    border-radius: 10px;
    margin:0px;
}
.card-header-title{
    color: blueviolet;
    font-size: 30px;
    font-weight: 700;
    display: block;
}
.card-name{
    float: left;
    margin-left: 1em
}
.card-price{
    float: right;
    margin-right: 1em
}

.card-content{
    color:#6b6b6b;
    font-size: 30px;
    font-weight: 700;
    clear: both;
    display: block;
}
.tab-style{
    background-color: #f3f3f3;
    border-radius: 10px;
    display: block;
    width: 100%;
    box-shadow: 5px 5px grey;
    margin: 30px 0px 0px 0px;
}
.inverted{
    background-color: #f2620f;
    padding: 10px;
}
.inverted a{
    width: 33.33%;
    display: inline-table;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    color: white !important;
    font-weight: 800;
}

.inverted .active {
    /* border-bottom: 5px solid blue; */
    color: blue !important;
}
.rcw-client {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.ui .segment{
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
.puppy-info {
    padding: 50px;
    font-size: 20px;
}

.puppy-info .item{
    border-bottom: 1px solid gray;
    opacity: 70%;
}

.puppy-info .item .title{
    color: #cf60ea;
    font-weight: bold;
}
hr{
    margin: 0
}

.make-offer {
    width: 100%;
    font-size: 20px;
    background-color: #6d3a3a;
    padding: 9px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px grey;
    color: white;
}
.reviews-state {
    padding: 10px;
    margin: 0;
    background-color: white;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.reviews-state .review-item {
    margin: 0;
    padding: 30px;
}

.review-item {
    width: 100%;
}

.reviews-state .review-item label{
    font-weight: bold;
}

.reviews-state .review-item img{
    width: 100%;
    cursor: pointer;
    min-height: 100px;
    max-height: 200px;
    float: right;
}

.font-style font{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* box-shadow: 2px 2px grey; */
    text-shadow: 1px 1px #868585;
}

.reviews-state .title{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 30px;
    opacity: 80%;
    color: #f2620f;
    margin:auto
}

.puppy-info h5 {
    color: #cf60ea
}

.font-detail{
    font-size: 16px;
}
.chatting {
    padding: 20px;
    width: 30%;
    text-align: center;
    background-color: red;
}

.chatting input{
    padding: 5px;
    margin-bottom: 5px;
}

.rcw-widget-container {
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    max-width: 370px;
    position: fixed;
    right: 0;
    width: 90vw;
    z-index: 9999;
}

.rcw-conversation-container.active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity .3s ease,transform .3s ease;
}

.rcw-conversation-container {
    border-radius: 10px;
    box-shadow: 0 2px 10px 1px #b5b5b5;
}

.rcw-conversation-container .rcw-header {
    background-color: #35cce6;
    border-radius: 10px 10px 0 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 0 25px;
}

.rcw-conversation-container .rcw-title {
    font-size: 24px;
    margin: 0;
    padding: 15px 0;
}

.rcw-messages-container {
    background-color: #fff;
    height: 50vh;
    max-height: 410px;
    overflow-y: scroll;
    padding-top: 10px;
    -webkit-overflow-scrolling: touch;
}
.rcw-client .rcw-message-text {
    background-color: #2a41e8;
    border-radius: 10px;
    padding: 15px;
    max-width: 215px;
    text-align: left;
}
.loader {
    margin: 10px;
    display: none;
}

.loader-container {
    background-color: #f4f7f9;
    border-radius: 10px;
    padding: 15px;
    max-width: 215px;
    text-align: left;
}

.loader-dots {
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: gray;
    margin-right: 2px;
    -webkit-animation: a .5s ease infinite alternate;
    animation: a .5s ease infinite alternate;
}

.rcw-sender {
    align-items: center;
    display: flex;
    background-color: #f4f7f9;
    height: 45px;
    padding: 5px;
    border-radius: 0 0 10px 10px;
}

.rcw-new-message {
    width: 100%;
    border: 0;
    background-color: #f4f7f9;
    height: 30px;
    /* padding-left: 15px; */
    resize: none;
}


.rcw-client .rcw-message-text label{
    margin-bottom: 0px;
    color: white;
}
.start-chatting {
    padding:30px;
}
.start-chatting .btn-success{
    margin-top : 20px;
    width:100%
}

.message-close{
    text-align: right !important;
    /* padding-left: 20px; */
    padding-right: 20px;
}
.message-close label{
    cursor: pointer;
}