.addreviewItem{
    text-align: right;
}
.addreviewItem label{
    font-weight: bold;
    font-size: 20px;
    opacity: 80%;
}

.addreview input{
    width: 85%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid gray;
    text-align: left !important;
}

.addreview select {
    width: 85%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid gray;
    text-align: left !important;
}

.addreview textarea{
    width: 85%;
    border-radius: 10px;
    padding: 7px;
    border: 1px solid gray;
    text-align: left !important;
}
.submit-button {
    padding: 50px
}